* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
    height: 100vh;
    background-color: rgba(199, 216, 247);
    display: flex;
    flex-direction: column;
  }

  .arriba{
    background-color: rgb(61, 153, 43);
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .abajo{
    background-color: rgb(142, 153, 43);
    height: 82%;
    width: 100%;
    display: flex;
  }


  .izquierda{
    background-color: rgb(43, 59, 153);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3%;

  }

  .derecha{
    background-color: rgb(153, 69, 43);
    height: 100%;
    width: 50%;
    display: flex;
  }


  .callie{
    width: 20%;
    height: 50%;
    background-color: blue;
     }