* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
    height: 100vh;
    background-color: rgb(19, 80, 161);
    display: flex;
  }
  
  .izquierda{
height: 100%;
width: 60%;
background-color: rgba(0, 0, 255, 0);

  }

  .derecha{
    height: 100%;
width: 40%;
background-color: rgba(255, 0, 0, 0);
display:flex;
  justify-content: center;
  align-items: center;
  }

  .arriba{
    width: 100%;  
  height: 15%;  
  background-color: rgba(57, 19, 161, 0);
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  }
.abajo{
  width: 100%;  
  height: 85%;  
  background-color: rgba(19, 140, 161, 0);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:7%;

}
  .parasalir{
    width: 14%;  
  height: 100%;  
  background-color: rgba(196, 101, 38, 0);
  display:flex;
  justify-content: center;
  align-items: center;
  }

  .salir{
    width: 58%;
  aspect-ratio: 1/1;
   background-color: rgb(30, 46, 90);
   border-radius: 50%;
  }









  .caja{
    width: 80%;  
  height: 85%;  
  background-color: rgba(212, 206, 201, 0.801);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
padding-top: 2%;
padding-bottom: 2%;
  }

  .peces{
    width: 100%;  
    height: 20%;  
    background-color: rgba(38, 196, 46, 0);
    padding-right: 4%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .callie{
    width: 100%;  
    height: 70%;  
    background-color: rgba(167, 196, 38, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cajita{
    width: max-content;
  height: 80%;  
  background-color: rgba(212, 206, 201, 0.801);
  display:flex;
  align-items: center;
  border-radius: 10px;
  border: 4px solid rgb(226, 100, 15);
  padding-inline: 8%;
  gap:10%;
  }

  .imagendelpez{
    width: 4rem;
    height: 2rem;
     background-color: rgb(9, 43, 233);
  }

  .imagendecallie{
    width: 60%;
    height: 90%;
     background-color: rgb(9, 43, 233);
  }

  .cajas{
    width: 18%;
  height: 25%;  
  background-color: rgb(240, 106, 106);
  display:flex;
  align-items: center;
  border-radius: 10px;
  border: 4px solid rgba(175, 94, 94);
  gap:10%;
  }
